stepfunction/DeleteFunctionPackage.json
{"Comment": "A description of my state machine", "StartAt": "UpdateSolFunctionPackage", "States": {"UpdateSolFunctionPackage": {"Type": "Task", "Parameters": {"OperationalState": "DISABLED", "VnfPkgId.$": "$.fp"}, "Resource": "arn:aws:states:::aws-sdk:tnb:updateSolFunctionPackage", "Next": "DeleteSolFunctionPackage", "ResultPath": "$.metadata"}, "DeleteSolFunctionPackage": {"Type": "Task", "Parameters": {"VnfPkgId.$": "$.fp"}, "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolFunctionPackage", "Next": "DynamoDB DeleteItem", "ResultPath": "$.metadata"}, "DynamoDB DeleteItem": {"Type": "Task", "Resource": "arn:aws:states:::dynamodb:deleteItem", "Parameters": {"TableName": "${Token[TOKEN.35]}", "Key": {"key": {"S.$": "$.vnfdkey"}}}, "Next": "DeleteObject", "ResultPath": "$.metadata"}, "DeleteObject": {"Type": "Task", "End": true, "Parameters": {"Bucket": "${Token[TOKEN.50]}", "Key.$": "$.bucket"}, "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject"}}}