stepfunction/DeleteNetworkPackages.json
{"Comment": "A description of my state machine", "StartAt": "UpdateSolNetworkPackage", "States": {"UpdateSolNetworkPackage": {"Type": "Task", "Parameters": {"NsdInfoId.$": "$.Id", "NsdOperationalState": "DISABLED"}, "Resource": "arn:aws:states:::aws-sdk:tnb:updateSolNetworkPackage", "Next": "DeleteSolNetworkPackage", "ResultPath": "$.metadata", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "Delete Network Package", "ResultPath": null}]}, "DeleteSolNetworkPackage": {"Type": "Task", "Parameters": {"NsdInfoId.$": "$.Id"}, "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolNetworkPackage", "ResultPath": "$.metadata", "Next": "Delete Network Package"}, "Delete Network Package": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "OutputPath": "$.Payload", "Parameters": {"Payload.$": "$", "FunctionName": "${Token[TOKEN.237]}"}, "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 1, "MaxAttempts": 3, "BackoffRate": 2}], "End": true}}}