stepfunction/Deletetnbfunction.json
{"Comment": "A description of my state machine", "StartAt": "UpdateSolNetworkPackage", "States": {"UpdateSolNetworkPackage": {"Type": "Task", "Parameters": {"NsdInfoId.$": "$.Id", "NsdOperationalState": "DISABLED"}, "Resource": "arn:aws:states:::aws-sdk:tnb:updateSolNetworkPackage", "Next": "DeleteSolNetworkPackage", "ResultPath": "$.metadata", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "Query Dynamodb", "ResultPath": null}]}, "DeleteSolNetworkPackage": {"Type": "Task", "Parameters": {"NsdInfoId.$": "$.Id"}, "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolNetworkPackage", "Next": "Query Dynamodb", "ResultPath": "$.metadata"}, "Query Dynamodb": {"Type": "Task", "Parameters": {"TableName": "${Token[TOKEN.43]}", "IndexName": "np-index", "KeyConditionExpression": "np = :np", "ExpressionAttributeValues": {":np": {"S.$": "$.Id"}}}, "Resource": "arn:aws:states:::aws-sdk:dynamodb:query", "ResultPath": "$.metadata", "Next": "Choice"}, "Choice": {"Type": "Choice", "Choices": [{"Not": {"Variable": "$.fp", "IsPresent": true}, "Next": "Map delete only np"}, {"Variable": "$.fp", "StringMatches": "all", "Next": "Map"}], "Default": "Fail"}, "Fail": {"Type": "Fail"}, "Map": {"Type": "Map", "ItemProcessor": {"ProcessorConfig": {"Mode": "DISTRIBUTED", "ExecutionType": "STANDARD"}, "StartAt": "Choice vndf", "States": {"Choice vndf": {"Type": "Choice", "Choices": [{"Variable": "$.key.S", "StringMatches": "vnfd/*", "Next": "UpdateSolFunctionPackage"}], "Default": "DeleteObject"}, "UpdateSolFunctionPackage": {"Type": "Task", "Next": "DeleteSolFunctionPackage", "Parameters": {"OperationalState": "DISABLED", "VnfPkgId.$": "$.fp.S"}, "Resource": "arn:aws:states:::aws-sdk:tnb:updateSolFunctionPackage", "ResultPath": "$.metadata"}, "DeleteSolFunctionPackage": {"Type": "Task", "Next": "DeleteObject", "Parameters": {"VnfPkgId.$": "$.fp.S"}, "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolFunctionPackage", "ResultPath": "$.metadata"}, "DeleteObject": {"Type": "Task", "Parameters": {"Bucket": "${Token[TOKEN.58]}", "Key.$": "$.key.S"}, "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject", "Next": "DynamoDB DeleteItem", "ResultPath": "$.metadata"}, "DynamoDB DeleteItem": {"Type": "Task", "Resource": "arn:aws:states:::dynamodb:deleteItem", "Parameters": {"TableName": "${Token[TOKEN.43]}", "Key": {"key": {"S.$": "$.key.S"}}}, "End": true}}}, "End": true, "Label": "Map", "MaxConcurrency": 1000, "ItemsPath": "$.metadata.Items", "ToleratedFailurePercentage": 100}, "Map delete only np": {"Type": "Map", "ItemProcessor": {"ProcessorConfig": {"Mode": "DISTRIBUTED", "ExecutionType": "STANDARD"}, "StartAt": "Choice lookup np", "States": {"Choice lookup np": {"Type": "Choice", "Choices": [{"Variable": "$.key.S", "StringMatches": "nsd/*", "Next": "DeleteObject np"}], "Default": "Fail np"}, "DeleteObject np": {"Type": "Task", "Parameters": {"Bucket": "${Token[TOKEN.58]}", "Key.$": "$.key.S"}, "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject", "Next": "DynamoDB DeleteItem np", "ResultPath": "$.metadata"}, "DynamoDB DeleteItem np": {"Type": "Task", "Resource": "arn:aws:states:::dynamodb:deleteItem", "Parameters": {"TableName": "${Token[TOKEN.43]}", "Key": {"key": {"S.$": "$.key.S"}}}, "End": true}, "Fail np": {"Type": "Fail"}}}, "End": true, "Label": "Mapdeleteonlynp", "MaxConcurrency": 1000, "ItemsPath": "$.metadata.Items", "ToleratedFailurePercentage": 100}}}