stepfunction/onboardfunctionpackage.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "vnfd/*",
          "Next": "CreateSolFunctionPackage"
        },
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "nsd/*",
          "Next": "CreateSolNetworkPackage"
        }
      ]
    },
    "CreateSolNetworkPackage": {
      "Type": "Task",
      "Next": "UploadNSDFile",
      "Parameters": {},
      "Resource": "arn:aws:states:::aws-sdk:tnb:createSolNetworkPackage",
      "ResultPath": "$.metadata"
    },
    "UploadNSDFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:sa-east-1:338293206254:function:CdkTnbStack-lambdaTNBuploadNSDFB5BB3AD-8KmA5WJV8HCG"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "DynamoDB UploadNSD",
      "ResultPath": "$.metadata",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DeleteSolNetworkPackage",
          "ResultPath": null
        }
      ]
    },
    "DeleteSolNetworkPackage": {
      "Type": "Task",
      "Next": "Fail",
      "Parameters": {
        "NsdInfoId.$": "$.metadata.Id"
      },
      "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolNetworkPackage"
    },
    "DynamoDB UploadNSD": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "CdkTnbStack-tnbconfig8D6A2B78-Y3HGPBBUH6ZO",
        "Item": {
          "key": {
            "S.$": "$.detail.object.key"
          },
          "np": {
            "S.$": "$.metadata.Payload.Id"
          }
        }
      },
      "Next": "ListSolNetworkPackages"
    },
    "ListSolNetworkPackages": {
      "Type": "Task",
      "Parameters": {},
      "Resource": "arn:aws:states:::aws-sdk:tnb:listSolNetworkPackages",
      "Next": "Update fps"
    },
    "Update fps": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:sa-east-1:338293206254:function:CdkTnbStack-lambdaupdatefpA6F9053B-4jPEEZIGIDRJ"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Success (1)",
      "ResultPath": "$.metadata"
    },
    "Success (1)": {
      "Type": "Succeed"
    },
    "CreateSolFunctionPackage": {
      "Type": "Task",
      "Parameters": {},
      "Resource": "arn:aws:states:::aws-sdk:tnb:createSolFunctionPackage",
      "ResultPath": "$.metadata",
      "Next": "Upload CSAR File"
    },
    "Upload CSAR File": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:sa-east-1:338293206254:function:CdkTnbStack-lambdaTNBUploadCSAR8C1017A4-fsymk9ZMYr8X"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "DynamoDB UploadVNFD",
      "ResultPath": "$.metadata2",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DeleteSolFunctionPackage",
          "ResultPath": null
        }
      ]
    },
    "DeleteSolFunctionPackage": {
      "Type": "Task",
      "Next": "Fail",
      "Parameters": {
        "VnfPkgId.$": "$.metadata.Id"
      },
      "Resource": "arn:aws:states:::aws-sdk:tnb:deleteSolFunctionPackage"
    },
    "Fail": {
      "Type": "Fail"
    },
    "DynamoDB UploadVNFD": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "CdkTnbStack-tnbconfig8D6A2B78-Y3HGPBBUH6ZO",
        "Item": {
          "key": {
            "S.$": "$.detail.object.key"
          },
          "fp": {
            "S.$": "$.metadata.Id"
          }
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}