stepfunction/TerminateNS.json
{"Comment": "A description of my state machine", "StartAt": "GetSolNetworkInstance", "States": {"GetSolNetworkInstance": {"Type": "Task", "Next": "TerminateSolNetworkInstance", "Parameters": {"NsInstanceId.$": "$.Id"}, "Resource": "arn:aws:states:::aws-sdk:tnb:getSolNetworkInstance", "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "Fail"}]}, "TerminateSolNetworkInstance": {"Type": "Task", "Next": "Checkdepolymentstatus", "Parameters": {"NsInstanceId.$": "$.Id"}, "Resource": "arn:aws:states:::aws-sdk:tnb:terminateSolNetworkInstance", "ResultPath": "$.metadata"}, "Checkdepolymentstatus": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken", "Parameters": {"FunctionName": "${Token[TOKEN.117]}", "Payload": {"token.$": "$$.Task.Token", "NetworkID.$": "$.Id"}}, "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 1, "MaxAttempts": 3, "BackoffRate": 2}], "Next": "DynamoDB DeleteToken", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "DynamoDB DeleteTokenAfterRollback"}]}, "DynamoDB DeleteTokenAfterRollback": {"Type": "Task", "Resource": "arn:aws:states:::dynamodb:deleteItem", "Parameters": {"TableName": "${Token[TOKEN.38]}", "Key": {"key": {"S": "token"}}}, "Next": "Fail"}, "DynamoDB DeleteToken": {"Type": "Task", "Resource": "arn:aws:states:::dynamodb:deleteItem", "Parameters": {"TableName": "${Token[TOKEN.38]}", "Key": {"key": {"S": "token"}}}, "Next": "Success"}, "Success": {"Type": "Succeed"}, "Fail": {"Type": "Fail"}}}